.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #1a1c1e;
  padding: 0 40px;
  box-sizing: border-box;
  justify-content: space-between;
}

.leftSide,
.midSide,
.rightSide {
  display: flex;
  flex-direction: row;
  width: 33.33%;
  align-items: center;
}

.leftSide {
  gap: 10px;
}

.midSide {
  justify-content: center;
}

.rightSide {
  justify-content: end;
  gap: 20px;
}

.searchInput {
  height: 40px;
  width: 80%;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 0 20px;
  background-color: #272a30;
  color: #ffffff;
  font-size: 18px;
}

.searchInput::placeholder {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.logInLink {
  font-size: 16px;
  margin-left: 40px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

.logInLink:hover {
  color: #6a5be2;
}

.notifications {
  all: unset;
  cursor: pointer;
}

.notifications:focus {
  all: unset;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  /* .leftSide {
    width: 20%;
  }

  .midSide {
    width: 50%;
  }

  .rightSide {
    width: 30%;
  } */

  .logInLink {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1450px) {
  .logInLink {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1310px) {
  .logInLink {
    margin-left: 0px;
  }

  .midSide {
    width: 30%;
  }

  .rightSide {
    width: 36%;
  }
}

@media screen and (max-width: 1200px) {
  /* .logInLink {
    margin-left: 20px;
  } */
}
