#root {
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.mainText {
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  margin-top: 20px;
}

.studyAssistant {
  color: #6a5be2;
}